.repo-list {
    background-color: rgb(211, 187, 214);
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #6a0dad;
    font-size: 24px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.error {
    color: red;
    font-size: 30px;
}

.repo-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
}

.repo-table th, .repo-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.repo-table th {
    font-size: 1.5rem;
    color: #6a0dad;;
}
.repo-row {
    cursor: pointer;
    transition: background-color 0.2s;
}
.repo-row td:first-child {
    font-weight: 600;
}
.repo-row.expanded {
    background-color:#f6eefa; 
    color: #000;
}
.repo-detail-row {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}
.repo-detail-row td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin: 0;
}
.repo-list-container {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-spacing: 0.5rem;
}

.header {
    font-size: 1.5rem;
    font-weight: 600;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td {
    padding: 0.5rem;
    text-align: left;
}

.table tr:hover {
    background-color: #f0f0f0;
}